<div class="home-container">

    <div class="home-container-cards">
        <div class="card">
            <figure><img class="card-img-dog" src="/assets/cachorros-adoçao.png" alt=""></figure>
        </div>
        <div class="card">
                <figure><img class="card-img-cat" src="/assets/gatos-adoçao.png" alt=""></figure>
        </div>
        <div class="card">
            <figure><img class="card-img-anuncios" src="/assets/meus-anuncios.png" alt=""></figure>
        </div>
    </div>


    <div class="carousel">
        <section class="carousel-container">
            <div class="carousel-text">
                <h2 class="carousel-title">Últimos animais adicionados</h2>
                <p class="carousel-p">Conheça nossos novos amigos em busca de um lar! Adote amor, adote<br> um dos animais que foram recentemrecentemente adicionados no site.</p>
            </div>
                <div class="carousel-cards">
                    <div class="carousel-cards-items">
                        <img class="carousel-cards-items-img"
                            src="/assets/dog-pidao.jpg"
                            alt="people"
                        />
                        <div class="carousel-cards-items-text">
                            <h5 class="carousel-cards-items-text-title">Título</h5>
                            <h6 class="carousel-cards-items-text-subtitle">Porte: <br>Sexo: <br>Cidade:  </h6>
                        </div>
                    </div>
                    <div class="carousel-cards-items">
                        <img class="carousel-cards-items-img"
                            src="/assets/dog-pidao.jpg"
                            alt="people"
                        />
                        <div class="carousel-cards-items-text">
                            <h5 class="carousel-cards-items-text-title"></h5>
                            <h6 class="carousel-cards-items-text-subtitle">Porte: <br>Sexo: <br>Cidade:  </h6>
                        </div>
                    </div>
                    <div class="carousel-cards-items">
                        <img class="carousel-cards-items-img"
                            src="/assets/dog-pidao.jpg"
                            alt="people"
                        />
                        <div class="carousel-cards-items-text">
                            <h5 class="carousel-cards-items-text-title"></h5>
                            <h6 class="carousel-cards-items-text-subtitle">Porte: <br>Sexo: <br>Cidade:  </h6>
                        </div>
                    </div>
                    <div class="carousel-cards-items">
                        <img class="carousel-cards-items-img"
                            src="/assets/dog-pidao.jpg"
                            alt="people"
                        />
                        <div class="carousel-cards-items-text">
                            <h5 class="carousel-cards-items-text-title"></h5>
                            <h6 class="carousel-cards-items-text-subtitle">Porte: <br>Sexo: <br>Cidade:  </h6>
                        </div>
                    </div>
                    <div class="carousel-cards-items">
                        <img class="carousel-cards-items-img"
                            src="/assets/dog-pidao.jpg"
                            alt="people"
                        />
                        <div class="carousel-cards-items-text">
                            <h5 class="carousel-cards-items-text-title"></h5>
                            <h6 class="carousel-cards-items-text-subtitle">Porte: <br>Sexo: <br>Cidade:  </h6>
                        </div>
                    </div>
                    <div class="carousel-cards-items">
                        <img class="carousel-cards-items-img"
                            src="/assets/dog-pidao.jpg"
                            alt="people"
                        />
                        <div class="carousel-cards-items-text">
                            <h5 class="carousel-cards-items-text-title"></h5>
                            <h6 class="carousel-cards-items-text-subtitle">Porte: <br>Sexo: <br>Cidade:  </h6>
                        </div>
                    </div>
                    
                </div>

        </section>
    
    </div>